
<div id="calc_graph"></div>

<% form_for :bulk_action, :url => user_account_bulk_action_path(@account), :html => {:class=> 'action_manager'} do |form| %>
  <div>
    <div class="actions">
      Seleccionar: <a class="select_all" href="#">todos</a> <a class="select_none" href="#">ninguno</a>
    </div>
    <%= form.hidden_field :movement_ids %>
    Aplicar la siguiente etiqueta: <%= select 'bulk_action', :label, @account.tags.collect {|t| [t.name, t.id]} %> a los
    <span class="selected_counter">0</span> elementos seleccionados <%= form.submit 'Venga!' %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <td></td><td>Fecha</td><td>Cantidad</td><td>Saldo final</td><td>Concepto</td><td>Etiquetas</td>
    </tr>
  </thead>
  <tbody id="calc_data">
    <% movements.each do |movement| %>
      <tr>
        <td>
          <span class="label" style="display: none"></span>
          <%= check_box_tag "movement-#{movement.id}", movement.id, false, :class => 'selector' %>
          <%= link_to image_tag('icons/comment_fill_12x11.png'), comentar_movement_path(movement), :id => "add_comment-#{movement.id}", :class => 'add_comment' %>
        </td>
        <td><%= movement.d.mday %>/<%= movement.d.month %>/<%= link_to movement.d.year, user_account_year_summary_path(@account, movement.d.year) %></td>
        <td class="number"><%= euros_of movement.ammount, :class => 'value' %></td>
        <td class="number"><span class="ammount"><%= euros movement.balance %></span></td>
        <td class="concept"><%= movement.concept %></td>
        <td>
          <div id="tagging_movement_<%= movement.id %>" class="tags taggings"><%= render movement.taggings %></div>
        </td>
        <td>
        </td>
      </tr>
      <tr class="comments nodata">
        <td></td>
        <td colspan="6" class="comments" id="comments-<%= movement.id %>">
          <% if movement.comments?  %>
            <% movement.comments.each do |comment| %>
              <%= comment %><br/>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

