<% content_for :top do %>
  <div class="actions">
    <%= link_to t('.edit'), edit_user_account_path(@account) %>
    <%= link_to t('.import'), new_user_account_import_path(@account) %>
  </div>
  <%= title t('.title', :name => @account.name)  %>
<%= @account.complete_number %> (<%= @account.users.map{|u| u.name}.join(' ') %>)
<% end %>



<%= render '/month_summaries/summaries', :object => @account.month_summaries %>

