<% content_for :top do %>
  <%= title t('.title', :name => @account.name) %>
<h2><%= @account.complete_number %></h2>
<% end %>

<div class="properties">
  <p><label><%= t('app.account_number') %>:</label><%= @account.account_number %></p>
  <p><label>Último movimiento:</label><%= @account.movements.first.d.fecha %></p>
</div>

<% form_tag(preview_user_account_import_path(@account), :class => 'import') do %>
  <%= text_area_tag :import, params[:import] %>
  <%= submit_tag t('.preview') %>
<% end %>

<% if @import %>
  <div class="properties">
    <p><label><%= content_tag :label, t('app.account_name') %>:</label><%= @import.account_name %></p>
    <p><label><%= t('app.account_number') %>:</label><%= @import.account_number %></p>
    <p><label><%=  t('app.begin_date') %>:</label><%= @import.begin_date.fecha %></p>
    <p><label><%=  t('app.end_date') %>:</label><%= @import.end_date.fecha %></p>
    <p><label><%=  t('app.initial_balance') %>:</label><%= @import.initial_balance %></p>
    <p><label><%=  t('app.end_balance') %>:</label><%= @import.end_balance %></p>
    <p class="records_to_import"><label><%=  t('import.records_to_import') %>:</label><%= @import.records_to_import %></p>
    <p class="red"><label>Número de elementos duplicados:</label><%= @import.records_duplicated %></p>
  </div>

  <% if @import.errors? %>
    <div class="import errors">
      <% @import.errors.each do |error| %>
        <p><%= error %></p>
      </div>
    <% end %>
  <% else %>
    <% form_tag(user_account_import_path(@account)) do %>
      <%= hidden_field_tag :import, params[:import] %>
      <table>
        <thead>
          <tr>
            <td>Estado</td><td>Fecha</td><td>Cantidad</td><td>Saldo</td><td>Concepto</td>
          </tr>
        </thead>
        <tbody>
          <% @import.movements.reverse.each_with_index do |movement, index| %>
            <tr>
              <td class="import_state <%= movement.import %>">
                <%= t("import.state.#{movement.import}") %>
                <% if movement.import? %>
                  <%= hidden_field_tag 'movement[][date]', movement.date, :id => "movement_date_#{index}" %>
                  <%= hidden_field_tag 'movement[][ammount]', movement.ammount, :id => "movement_ammount_#{index}" %>
                  <%= hidden_field_tag 'movement[][balance]', movement.balance, :id => "movement_balance_#{index}" %>
                  <%= hidden_field_tag 'movement[][concept]', movement.concept, :id => "movement_concept_#{index}" %>
                <% end %>
              </td>
              <td><%= movement.fecha %></td>
              <td><%= euros movement.ammount %></td>
              <td><%= euros movement.balance %></td>
              <td><%= movement.concept %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @import.valid? %>
        <%= submit_tag t('.import') %>
      <% else %>
        <%= submit_tag t('.import'), :disabled => 'disabled' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>