<% content_for :top do  %>
  <%= render 'accounts/info', :object => @tag.account %>
  <%= title t('.title', :tag => @tag.name) %>
<% end %>

<div class="period">
  <p>Entrada: <%= euros_of @period.positive_ammount %></p>
  <p>Salidas: <%= euros_of @period.negative_ammount %> (<%= "#{@period.negative_percent}%" %> de la entrada)</p>
</div>

<%= render 'movements/movements', :object => @tag.movements %>