<table>
  <thead>
    <tr>
      <td>Mes</td>
      <td class="number">Entradas</td><td class="number">Salidas</td>
      <td class="number">Inicial</td><td class="number">Final</td>
      <td class="number">Balance</td>
    </tr>
  </thead>
  <tbody>
    <% summaries.each do |summary| %>
      <tr>
        <td class="label"><a href="<%= user_account_month_summary_path(summary.account, summary) %>"><%= summary.year %> <%= mes(summary.month) %></a></td>
        <td class="number positive"><%= euros summary.positive_ammount %></td>
        <td class="number negative"><%= euros summary.negative_ammount %></td>
        <td class="number"><%= euros summary.before_balance %></td>
        <td class="number"><%= euros summary.after_balance %></td>
        <td class="balance number <%= summary.type %>"><%= euros summary.balance %></td>
      </tr>
    <% end %>
  </tbody>
</table>